@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Recorda utilizar el selector universal */

*{
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;;
}
header{
    background-color:#222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
   
}
header ul{
    display: flex;
    color: white;
    text-transform: none;
}
/* --------------> aca estas llamando una etiqueta que no existe
cajas{
    flex: display;
}
*/ 

.Caja1{
    background-image: url("../img/delivery.jpg");
    width: 490px;
    height: 350px;
}

.caja2{
    width: auto;
    height: auto;
    background-color: white;
}
footer{
    display: flex;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
